<h3 class="style-guide__title">Buttons</h3>

<h4 class="style-guide__subtitle">Unit Test</h4>
<div class="style-guide__example">
  <a href="#" class="button">Style correctly link tags</a>
  <button class="button">Style correctly button tags</button>
  <input type="submit" class="button" value="Style correctly submit tags" />
</div>

<h4 class="style-guide__subtitle">Sizes</h4>
<div class="style-guide__example">
  <a class="button" href="#">.button</a>
  <a class="button button--large" href="#">.button.button--large</a>
  <a class="button button--full" href="#">.button.button--full</a>
</div>

<h4 class="style-guide__subtitle">Colors</h4>
<div class="style-guide__example">
  <a class="button" href="#">.button</a>
  <a class="button button--primary" href="#">.button.button--primary</a>
  <a class="button button--secondary" href="#">.button.button--secondary</a>
  <a class="button button--danger" href="#">.button.button--danger</a>
  <a class="button button--success" href="#">.button.button--success</a>
</div>