<h3 class="style-guide__heading">Typography</h3>

<h4 class="style-guide__heading style-guide__heading--2">Font Sizes</h4>

<h5 class="style-guide__heading style-guide__heading--3">$font-size-x-small</h5>
<div class="style-guide__example">
  <p class="style-guide__font-size-x-small">"But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness.</p>
</div>

<h5 class="style-guide__heading style-guide__heading--3">$font-size-small</h5>
<div class="style-guide__example">
  <p class="style-guide__font-size-small">"But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness.</p>
</div>

<h5 class="style-guide__heading style-guide__heading--3">$font-size</h5>
<div class="style-guide__example">
  <p class="style-guide__font-size">"But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness.</p>
</div>

<h5 class="style-guide__heading style-guide__heading--3">$font-size-large</h5>
<div class="style-guide__example">
  <p class="style-guide__font-size-large">"But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness.</p>
</div>

<h5 class="style-guide__heading style-guide__heading--3">$font-size-x-large</h5>
<div class="style-guide__example">
  <p class="style-guide__font-size-x-large">"But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness.</p>
</div>

<h5 class="style-guide__heading style-guide__heading--3">$font-size-2x-large</h5>
<div class="style-guide__example">
  <p class="style-guide__font-size-2x-large">"But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness.</p>
</div>

<h5 class="style-guide__heading style-guide__heading--3">$font-size-3x-large</h5>
<div class="style-guide__example">
  <p class="style-guide__font-size-3x-large">"But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness.</p>
</div>


