<div class="empty-state">
  <div class="empty-state__asset empty-state__asset--people">
    {{inline-svg "illustrations/work" class="svg"}}
  </div>

  <h1 class="empty-state__title">{{t "admin.people.no_results.title"}}</h1>
  <p class="empty-state__description">{{t "admin.people.no_results.description"}}</p>
</div>