/*------------------------------------*\
    #BUTTON
\*------------------------------------*/

.button {
    @include button-reset;
    display: inline-block;
    padding: $spacing-unit ($spacing-unit * 1.5);
    color: $white;
    font-size: $font-size;
    font-weight: $font-weight-medium;
    background-color: $gray-500;
    border: 1px solid transparent;
    border-radius: 2px;
    box-shadow: $box-shadow;
    cursor: pointer;
}

/**
 * Colors
 */

.button--primary {
    background-color: $indigo-500;
}

.button--success {
    background-color: $green-500;
}

.button--danger {
    background-color: $red-500;
}

.button--secondary {
    color: $indigo-500;
    background-color: $white;
    border-color: $indigo-500;
}

/**
 * Sizes
 */

.button--small {
    padding: ($spacing-unit * 0.5) $spacing-unit;
    font-size: $font-size-small;
}

.button--large {
    padding: ($spacing-unit * 1.5) ($spacing-unit * 4);
    font-size: $font-size-x-large;
}

.button--full {
    display: block;
    width: 100%;
    text-align: center;
}
