/*------------------------------------*\
    #LAYOUT
\*------------------------------------*/

.layout {
    margin: 0 auto;
    max-width: $breakpoint-2x-large;
}

    .layout__wrapper {
        display: grid;
        height: 100vh;
        grid-template-columns: 350px 1fr;
    }

        .layout__sidebar {
            align-self: start;
        }

        .layout__main {
            position: relative;
            margin: $spacing-unit * 5;
            margin-left: 0;
            padding: $spacing-unit * 5;
            background: $white;
            border-radius: 6px;
            box-shadow: $box-shadow;
        }
