/*------------------------------------*\
    #ROOMS-EDIT
\*------------------------------------*/

.rooms-edit {
    height: 100%;
}

    .rooms-edit__wrapper {
        height: 100%;
    }

        .rooms-edit__content {
            display: grid;
            height: 80%;
            grid-gap: $spacing-unit * 2;
            grid-template-columns: 150px 1fr;
        }

            .rooms-edit__thumbnails { }

                .rooms-edit__thumbnails-list {}

                    .rooms-edit__thumbnails-item {
                        margin-bottom: $spacing-unit;
                        width: 150px;
                        height: 150px;
                    }

                        .rooms-edit__thumbnails-add {
                            position: relative;
                            height: 100%;
                            text-align: center;
                            border: 1px dashed $gray-500;
                        }

                        .rooms-edit__thumbnails-picture {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }

            .rooms-edit__cover { }

                .rooms-edit__cover-picture {
                    max-width: 100%;
                }

        .rooms-edit__footer {
            position: relative;
            height: 20%;
        }

            .rooms-edit__footer-container {
                position: absolute;
                right: 0;
                bottom: 0;
                left: 0;
                padding-top: $spacing-unit * 2;
                border-top: 1px solid $gray-300;
            }

                .rooms-edit__total-seats {
                    display: block;
                    margin-top: $spacing-unit * 1.5;
                    font-size: $font-size-2x-large;
                    font-weight: $font-weight-bold;
                }

                .rooms-edit__save {
                    vertical-align: bottom;
                }
