<div class="rooms-edit">
  <div class="rooms-edit__wrapper">
    <div class="rooms-edit__content">
      <div class="rooms-edit__thumbnails">
        <ul class="rooms-edit__thumbnails-list">
          <li class="rooms-edit__thumbnails-item">
            <img src="/empty_office.jpg" class="rooms-edit__thumbnails-picture" />
          </li>
          <li class="rooms-edit__thumbnails-item">
            <img src="/empty_office.jpg" class="rooms-edit__thumbnails-picture" />
          </li>
          <li class="rooms-edit__thumbnails-item">
            <img src="/empty_office.jpg" class="rooms-edit__thumbnails-picture" />
          </li>
          <li class="rooms-edit__thumbnails-item">
            <div class="rooms-edit__thumbnails-add">
              {{inline-svg "icons/upload" class="svg"}}
            </div>
          </li>
        </ul>
      </div>
      <div class="rooms-edit__cover">
        <img src="/empty_office.jpg" class="rooms-edit__cover-picture" />
      </div>
    </div>

    <div class="rooms-edit__footer">
      <div class="rooms-edit__footer-container">
        <div class="form">
          <div class="grid grid--large">
            <div class="grid__cell grid__cell--33">
              <div class="form-group">
                <label class="form__label">Name</label>
                <input type="text" class="form__input" placeholder="Room #1" />
              </div>
            </div>
            <div class="grid__cell grid__cell--33">
              <div class="form-group">
                <label class="form__label">Total Seats</label>
                <span class="rooms-edit__total-seats">66</span>
              </div>
            </div>
            <div class="grid__cell grid__cell--33 rooms-edit__save">
              <LinkTo @route="rooms" @query={{hash showRecords="true"}} class="button button--primary button--full">
                Save
              </LinkTo>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>