<div class="empty-state">
  <div class="empty-state__asset empty-state__asset--rooms">
    {{inline-svg "illustrations/table" class="svg"}}
  </div>

  <h1 class="empty-state__title">{{t "rooms.no_results.title"}}</h1>
  <p class="empty-state__description">{{t "rooms.no_results.description"}}</p>

  <div class="empty-state__button">
    <LinkTo @route="rooms.new" class="button button--large button--primary">{{t "rooms.new_room"}}</LinkTo>
  </div>
</div>