// Fonts
$font-default: 'Inter', sans-serif;
$fontlight: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue,
  sans-serif;
$font-alternative: "Lato", sans-serif;
$font-logo: "Rancho", sans-serif;

// Elements fonts
$font-text: $font-default;
$font-title: $font-logo;
$font-subtitle: $font-alternative;
$font-paragraph: $font-default;
$font-button: $font-alternative;
