*,
*::before,
*::after {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

html,
body {
  font-family: $font-default;
  font-size: sizing(2.5);
  color: $color-secondary;
  background-color: $color-background;
  -webkit-tap-highlight-color: transparent;
}

button:focus {
  outline: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

input:focus,
input:active {
  outline: 0;
}

strong {
  font-weight: bold;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 40px;
  letter-spacing: -0.9px;
  font-weight: 800;
  color: $color-black
}

p {
  font-size: sizing(6);
  line-height: spacing(5);
}

a {
  text-decoration: none;
  color: $color-secondary;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}

.wrapper {
  position: relative;
  margin-left: 5em;
  margin-right: 5em;
  min-height: 100vh;
}
